@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Roboto, serif;
}

.header, .intro-container, .footer {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-around;
    padding: 5px;
}

.header-text {
    font-size: 24px;
}

.links-container {
    display: flex;
    gap: 30px;
    font-size: 18px;
}

.header-text {
    color: #F9FAF8;
    font-weight: 900;
}

.tagline {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    width: 400px;
}

.subtext, .link {
    color: #E5E7EB
}

.intro-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px 0;
}

.left-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:start;
    flex: 1;
    gap: 15px;
    max-width: 500px;
    max-height: 450px;
}

.subtext {
    width: 400px;
    font-size: 18px;
}

.signup-button {
    background-color: #3882F6;
    color: white;
    padding: 10 30px;
    border: none;
    font-weight: bold;
    font-size: 15px;
    font-family: Roboto;
    border-radius: 5px;
}

.right-container {
    flex: 1;
    max-width: 500px;
}

.right-container img {
    min-width: 200px;
    max-width: 500px;
}


.food-gallery-container {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 30px;
    gap: 15px;
}

.gallery-title {
    font-size: 36px;
    color: #1F2937;
    font-family: Roboto;
    font-weight: 900;
    text-align: center;
}

.images-container {
    display: flex;
    justify-content: space-around;
}


.group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.dish-img img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}

.group .description {
    width: 250px;
    font-size: 18px;
    text-align: center;
}

.quote-container {
    background-color: #E5E7EB;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
}

.quote-author {
    font-weight: bold;
    font-size: 36px;
    color: #1F2937;
}

.signup-container {
    background-color: white;
}